---
import Layout from '../layouts/Layout.astro';
import CreatorsDetails from '../components/CreatorsDetails.astro'
---
<head>
    <meta charset="UTF-8" />
    <title>Creador</title>
</head>

<Layout>
	<CreatorsDetails />
</Layout>
