---
import Layout from '../layouts/Layout.astro';
import DetailScreen from '../components/DetailScreen.astro';
import Carrousel from '../components/Carrousel.astro';
import Production from '../components/Production.astro';
import Cast from '../components/Cast.astro';
---
<head>
    <meta charset="UTF-8" />
    <title>Detalles</title> 
	<!-- abierto a que la ruta se cambie por el .map del id de la pelicula/serie -->
</head>

<Layout>
	<DetailScreen />
	<Carrousel />
	<Production />
	<Cast />
</Layout>
