---
import Layout from '../layouts/Layout.astro';
import BannerHorizontal from '../assets/banners/BannerHorizontal.png';
import faqImg from '../assets/faqImg.png';
---
<head>
    <meta charset="UTF-8" />
    <title>FAQ</title>

    <script>
      // Seleccionamos todos los elementos 'details'
      const allDetails = document.querySelectorAll('details');
    
      // Agregamos un evento para cada 'details'
      allDetails.forEach(detail => {
        detail.addEventListener('toggle', function() {
          // Si el 'details' está abierto, cerramos los demás
          if (this.open) {
            allDetails.forEach(otherDetail => {
              if (otherDetail !== this) {
                otherDetail.removeAttribute('open');
              }
            });
          }
        });
      });
    </script>

    <style>
        body {
            background: linear-gradient(135deg, #1e293b, #111827);
            background-size: 400% 400%;
            animation: gradientAnimation 10s ease infinite;
        }

        @keyframes gradientAnimation {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% { background-position: 0% 50%; }
        }

        .bg-principal {
            position: relative;
            overflow: hidden;
        }

        .bg-principal::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(rgba(100, 116, 139, 0.2) 10%, transparent 70%);
            pointer-events: none;
        }

        details summary {
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

        details:hover summary {
            background-color: rgba(30, 195, 30, 0.5);
            transform: scale(1.02);
        }

        /* Animación para el contenido */
        details p {
            display: none;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        details[open] p {
            display: block;
            opacity: 1;
        }

        /* Rotación del ícono */
        details summary svg {
            transition: transform 0.3s ease;
        }

        details[open] summary svg {
            transform: rotate(180deg);
        }
        details:hover {
        transform: scale(1.02);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>

<Layout>
    <div class="bg-principal min-h-screen w-full pt-20">

      <!-- <div class="flex justify-center mb-8 bg-white w-full">
        <img src={WahuDark2020.src} alt="Logo Wahu Dark" class="w-40 h-auto mt-10 mb-10" />
      </div> -->

      <div class="flex justify-center mb-12 w-full">
        <img src={BannerHorizontal.src} alt="Banner Horizontal" class="w-full h-auto" />
    </div>
    

      <section class="w-full px-8">
        <div class="grid grid-cols-12 gap-8 mb-12"> 
          <!-- mb-8 -->

          <!-- Columna izquierda
          <div class="col-span-3 bg-transparent border rounded-lg">
             
            <p class="text-slate-400">Espacio izquierdo</p>
          </div> -->
  
          <!-- Columna central (6 columnas para FAQ) -->
          <div class="col-span-7">
            <div class="text-2xl mb-8 text-center">
              <h1 class="text-lime-400 font-tittle text-5xl mb-1">F A Q</h1>
              <h1 class="text-slate-400 uppercase font-extrabold ml-10 lg:ml-16 -mt-2 text-xl lg:text-4xl">Frecuent Asked Questions</h1>
            </div>
            <div class="space-y-6 ">
              <details class="border rounded-lg shadow-md overflow-hidden">
                <summary class="cursor-pointer font-semibold text-lg text-lime-400 flex justify-between items-center bg-slate-800 p-4">
                  ¿Qué es Wahu Streaming?
                  <svg class="w-4 h-4 text-slate-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                  </svg>
                </summary>
                <p class="p-4 bg-slate-700 text-slate-400">
                  Wahu Streaming es una plataforma de streaming gratuita que transmite contenido cultural y artístico, como festivales de cine, cortometrajes, documentales y programas originales.
                </p>
              </details>
              <details class="border rounded-lg shadow-md overflow-hidden">
                <summary class="cursor-pointer font-semibold text-lg text-lime-400 flex justify-between items-center bg-slate-800 p-4">
                  ¿Es necesario registrarse para usar Wahu Streaming?
                  <svg class="w-4 h-4 text-slate-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path></svg>
                </summary>
                <p class="p-4 bg-slate-700 text-slate-400">No, la mayoría de los contenidos en Wahu Streaming están disponibles de forma gratuita sin necesidad de registro. Sin embargo, algunos eventos o funciones especiales podrían requerir crear una cuenta.</p>
              </details>
              <details class="border rounded-lg shadow-md overflow-hidden">
                <summary class="cursor-pointer font-semibold text-lg text-lime-400 flex justify-between items-center bg-slate-800 p-4">
                  ¿Qué tipos de contenido ofrece Wahu Streaming?
                  <svg class="w-4 h-4 text-slate-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path></svg>
                </summary>
                <p class="p-4 bg-slate-700 text-slate-400">
                  Wahu Streaming ofrece una variedad de contenido cultural y artístico, incluyendo festivales de cine, cortometrajes, documentales, series originales y programas en vivo.
                </p>
              </details>
              
              <details class="border rounded-lg shadow-md overflow-hidden">
                <summary class="cursor-pointer font-semibold text-lg text-lime-400 flex justify-between items-center bg-slate-800 p-4">
                  ¿Puedo ver contenido en Wahu Streaming desde cualquier dispositivo?
                  <svg class="w-4 h-4 text-slate-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path></svg>
                </summary>
                <p class="p-4 bg-slate-700 text-slate-400">
                  Sí, Wahu Streaming es accesible desde una amplia variedad de dispositivos, incluidos ordenadores, teléfonos móviles, tabletas, y algunos televisores inteligentes.
                </p>
              </details>
              
              <details class="border rounded-lg shadow-md overflow-hidden">
                <summary class="cursor-pointer font-semibold text-lg text-lime-400 flex justify-between items-center bg-slate-800 p-4">
                  ¿Es Wahu Streaming completamente gratuito?
                  <svg class="w-4 h-4 text-slate-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path></svg>
                </summary>
                <p class="p-4 bg-slate-700 text-slate-400">
                  La mayoría del contenido en Wahu Streaming es gratuito, pero ciertos eventos exclusivos o funciones especiales pueden requerir una suscripción o un pago puntual.
                </p>
              </details>

              <details class="border rounded-lg shadow-md overflow-hidden">
                <summary class="cursor-pointer font-semibold text-lg text-lime-400 flex justify-between items-center bg-slate-800 p-4">
                  ¿Puedo ver contenido en Wahu Streaming sin conexión a internet?
                  <svg class="w-4 h-4 text-slate-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                  </svg>
                </summary>
                <p class="p-4 bg-slate-700 text-slate-400">
                  Sí, Wahu Streaming permite descargar contenido seleccionado para verlo sin conexión. Solo necesitas asegurarte de que la función esté habilitada en tu cuenta y de que tengas espacio suficiente en tu dispositivo.
                </p>
              </details>              
              
              <details class="border rounded-lg shadow-md overflow-hidden">
                <summary class="cursor-pointer font-semibold text-lg text-lime-400 flex justify-between items-center bg-slate-800 p-4">
                  ¿Puedo descargar contenido de Wahu Streaming para verlo sin conexión?
                  <svg class="w-4 h-4 text-slate-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path></svg>
                </summary>
                <p class="p-4 bg-slate-700 text-slate-400">
                  Actualmente, Wahu Streaming no ofrece la opción de descargar contenido para verlo sin conexión. Todo el contenido está disponible para su transmisión en vivo.
                </p>
              </details>
              
              <details class="border rounded-lg shadow-md overflow-hidden">
                <summary class="cursor-pointer font-semibold text-lg text-lime-400 flex justify-between items-center bg-slate-800 p-4">
                  ¿Cómo puedo contactar con el soporte de Wahu Streaming?
                  <svg class="w-4 h-4 text-slate-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path></svg>
                </summary>
                <p class="p-4 bg-slate-700 text-slate-400">
                  Puedes ponerte en contacto con el soporte de Wahu Streaming a través de nuestro formulario de contacto en el sitio web o por medio de nuestras redes sociales.
                </p>
              </details>
              
              <details class="border rounded-lg shadow-md overflow-hidden">
                <summary class="cursor-pointer font-semibold text-lg text-lime-400 flex justify-between items-center bg-slate-800 p-4">
                  ¿Wahu Streaming está disponible en otros idiomas?
                  <svg class="w-4 h-4 text-slate-400" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path></svg>
                </summary>
                <p class="p-4 bg-slate-700 text-slate-400">
                  Actualmente, Wahu Streaming está disponible en español, pero estamos trabajando para expandir a más idiomas en el futuro cercano.
                </p>
              </details>
              
            </div>
          </div>
  
          <div class="col-span-5 bg-transparent">
            <div class="grid grid-rows-2 gap-4 h-full">
          
              <!-- Caja Inferior: Formulario -->
              <div class="border p-4 rounded-lg bg-black bg-opacity-25 backdrop-blur-md">
                <form action="#" class="space-y-6">
                  <h2 class="text-center text-lg font-semibold text-white">Deja tu Pregunta</h2>
          
                  <!-- Campo de Nombre -->
                  <div>
                    <label for="name" class="block text-sm text-white mb-1">Tu Nombre</label>
                    <input
                      placeholder="Tu nombre completo"
                      required
                      type="text"
                      id="name"
                      name="name"
                      class="w-full px-3 py-2 bg-gray-400 bg-opacity-25 border border-transparent text-white shadow-inner rounded-md focus:outline-none focus:ring-lime-400 focus:border-lime-400 sm:text-sm"
                    />
                  </div>
          
                  <!-- Campo de Correo -->
                  <div>
                    <label for="email" class="block text-sm text-white mb-1">Correo Electrónico</label>
                    <input
                      placeholder="alguien@example.com"
                      required
                      type="email"
                      id="email"
                      name="email"
                      class="w-full px-3 py-2 bg-gray-400 bg-opacity-25 border border-transparent text-white shadow-inner rounded-md focus:outline-none focus:ring-lime-400 focus:border-lime-400 sm:text-sm"
                    />
                  </div>
          
                  <!-- Campo de Pregunta -->
                  <div>
                    <label for="question" class="block text-sm text-white mb-1">Tu Pregunta</label>
                    <textarea
                      placeholder="Escribe tu pregunta aquí..."
                      required
                      id="question"
                      name="question"
                      rows="3"
                      class="w-full px-3 py-2 bg-gray-400 bg-opacity-25 border border-transparent text-white shadow-inner rounded-md focus:outline-none focus:ring-lime-400 focus:border-lime-400 sm:text-sm"
                    ></textarea>
                  </div>
          
                  <!-- Botones -->
                  <div class="flex items-center justify-between">
                    <button
                      type="reset"
                      class="px-4 py-2 bg-transparent text-sm text-white hover:text-lime-400 border border-transparent rounded-md focus:outline-none"
                    >
                      Limpiar
                    </button>
                    <button
                      type="submit"
                      class="px-4 py-2 bg-lime-400 text-sm text-black font-bold rounded-md hover:bg-lime-500 focus:outline-none"
                    >
                      Enviar Pregunta
                    </button>
                  </div>
                </form>
              </div>

               <!-- Caja Superior: Imagen centrada -->
               <div class="p-4 flex items-center justify-center mt-8">
                <img src={faqImg.src} alt="Imagen FAQ" class="max-w-full max-h-full rounded-md">
              </div>
          
            </div>
          </div>
          
          
        </div>
      </section>
    </div>
  </Layout>
  


