---
import Layout from "../layouts/Layout.astro";
// import HomeCinema from "../components/homeCinema.astro";
import Login from "../pages/login.astro";
import Carrousel from "../components/Carrousel.astro";
---

<head>
  <meta charset="UTF-8" />
  <title>Wahu</title>
</head>

<Layout>
  <Login />
</Layout>
