---
import Layout from '../layouts/Layout.astro';
---
<head>
  <meta charset="UTF-8" />
  <title>Premiere</title>
</head>

<Layout>
  <div class="container mx-auto text-center mt-36 mb-5">
    pagina premiere
  </div>
</Layout>
