---
import Layout from "../layouts/Layout.astro";
---
<head>
    <meta charset="UTF-8" />
    <title>Aviso de Privacidad</title>
</head>
<Layout>
    <div class="bg-slate-900 px-5 py-10">
        <!-- Ajusta el margen superior para que el contenido no quede oculto -->
        <div class="max-w-screen-2xl mx-auto mt-28">
            <!-- Cambia 'mt-20' según la altura de tu navbar -->
            <div
                class="text-lime-400 text-3xl mb-5 text-start font-montserrat font-variant-caps"
            >
                <h1>Aviso de Privacidad</h1>
            </div>
            <div class="text-slate-400 mt-3 space-y-5 text-justify">
                <p>
                    Conforme a lo previsto en la legislación aplicable en
                    materia de protección de datos personales, y en cumplimiento
                    de la obligación a cargo de Wahu® (a través de la persona
                    moral responsable de los datos personales) consistente en
                    proteger los datos personales de sus clientes, afiliados y/o
                    beneficiados de cualquiera de los productos, servicios o
                    membresías pertenecientes al concepto comercialmente
                    conocido como Wahu®, hacemos de tu conocimiento lo
                    siguiente:
                </p>

                <p class="text-xl font-bold">
                    1. Contenido de los Datos Personales
                </p>

                <p>
                    De acuerdo con la Ley, se entiende como “Datos Personales”
                    cualquier información concerniente a una persona física
                    identificada o identificable. Para efectos del presente
                    Aviso de Privacidad, de manera enunciativa mas no
                    limitativa, se entenderán como “Datos Personales”:
                </p>

                <p>
                    Usted es responsable del uso de su cuenta, incluyendo el no
                    autorizar a terceros, por lo que le pedimos sea cuidadoso
                    para proteger la seguridad de su cuenta y contraseña.
                </p>

                <p class="text-xl font-bold">1.1. Datos Generales</p>

                <p>
                    Nombre(s) y apellidos, fecha de nacimiento, sexo, estado
                    civil, existencia o no de hijos, domicilio, teléfono fijo
                    (de casa u oficina), teléfono celular, correo electrónico,
                    entre otros datos similares concernientes a una persona.
                </p>

                <p class="text-xl font-bold">
                    1.2. Revistas y Transacciones en línea
                </p>

                <p>
                    Cuando te registres y/o te suscribas para recibir alguno de
                    los productos de Wahu® (tales como renta de contenidos,
                    boletines electrónicos, entre otros) en cualquiera de
                    nuestras plataformas (sitio web y otros mecanismos, aparatos
                    o plataformas), además de los datos generales, se
                    considerarán Datos Personales los relacionados con tarjetas
                    bancarias, tales como nombre del tarjetahabiente, número de
                    tarjeta, fecha de vencimiento de la tarjeta, tipo de tarjeta
                    y código de seguridad, en su caso el domicilio y cualquier
                    otra información necesaria para la suscripción y/o
                    transacción en línea.
                </p>

                <p>
                    Los Datos Personales referidos en este punto únicamente
                    estarán sujetos a las Finalidades del Tratamiento
                    establecidas más adelante en el presente Aviso de
                    Privacidad, por el tiempo que dure la relación comercial; es
                    decir, una vez que la relación y sus efectos concluyan, los
                    Datos Personales serán eliminados de nuestras bases de
                    datos.
                </p>

                <p class="text-xl font-bold">1.3. Redes Sociales</p>

                <p>
                    Las redes sociales (tales como Facebook®, Instagram®,
                    Twitter®, LinkedIn®, entre otras) constituyen una
                    plataforma de comunicación y de interconexión entre
                    plataformas digitales de los distintos usuarios, son ajenas
                    a Wahu® y, por lo tanto, no se encuentran bajo su
                    responsabilidad. La información que proporciones dentro de
                    redes sociales en las que Wahu® participa como usuario, no
                    constituye ni forma parte de los Datos Personales sujetos a
                    la protección de este Aviso de Privacidad, siendo esta
                    responsabilidad de la empresa prestadora de esa plataforma y
                    de quien lo publica.
                </p>

                <p>
                    Los Datos Personales mencionados en los apartados 1.1. al
                    1.2. del presente Aviso de Privacidad serán recabados
                    mediante el llenado de los formatos y/o mediante la
                    recopilación de información o documentación requerida por
                    Wahu®, vía electrónica en cualquiera de las páginas de
                    internet de Wahu® (<a
                        href="https://wahustreaming.com/"
                        class="text-lime-400 underline"
                        >https://wahustreaming.com</a
                    >), así como páginas de internet presentes o futuras
                    (“Páginas de internet de Wahu®”), o inclusive de manera
                    personal, cuando así proceda.
                </p>

                <p>
                    Nota: La titularidad de los derechos sobre las páginas de
                    internet puede corresponder a Media Streaming, S.A. de C.V.,
                    o bien, a cualquier otra sociedad filial o asociada a Wahu®
                </p>

                <p class="text-xl font-bold">1.4. Cookies</p>

                <p>
                    Las cookies son archivos de texto que son descargados
                    automáticamente y almacenados en un disco duro del equipo de
                    cómputo del usuario al navegar en una determinada página de
                    internet y que permiten al servidor de internet recordar
                    algunos datos del usuario. Por medio de este Aviso de
                    Privacidad te informamos que Wahu® utiliza ciertas cookies
                    únicamente para obtener información del lugar de acceso.
                </p>

                <p class="text-xl font-bold">
                    2. Persona responsable de recabar Datos Personales
                </p>

                <p>
                    La persona moral responsable de recabar tus Datos Personales
                    (en este acto, así como en actos pasados y/o futuros), es la
                    persona moral denominada Media Streaming, S.A. de C.V.
                    (“Wahu®”), con domicilio ubicado en Bajada de Chapultepec
                    No. 8 Loc. 1, Col. Chapultepec, C.P. 62450, Cuernavaca,
                    Morelos, México.
                </p>

                <p class="text-xl font-bold">
                    3. Tratamiento de tus Datos Personales
                </p>

                <p>
                    De acuerdo con lo establecido en la Ley, se considera
                    tratamiento de Datos Personales (“Tratamiento de Datos
                    Personales”), la obtención, uso, divulgación o
                    almacenamiento de Datos Personales, por cualquier medio. El
                    uso abarca cualquier acción de acceso, manejo,
                    aprovechamiento, transferencia o disposición de Datos
                    Personales.
                </p>

                <p>
                    El Tratamiento de Datos Personales por parte de Wahu® se
                    limitará al cumplimiento de las Finalidades de Tratamiento
                    previstas en el presente Aviso de Privacidad y se sujetará a
                    lo siguiente:
                </p>

                <ul class="list-disc pl-5">
                    <li><p>En caso que se pretenda tratar tus Datos Personales para un fin distinto a los fines del presente Aviso de Privacidad, Wahu® requerirá obtener tu consentimiento para tal fin, de nueva cuenta.</p></li>
                    <li><p>Será el que resulte necesario, adecuado y relevante para los fines descritos en este Aviso de Privacidad.</p></li>
                </ul>
                

                <p class="text-xl font-bold">
                    4. Finalidades del tratamiento de Datos Personales
                </p>

                <p>
                    A través del presente Aviso de Privacidad, Wahu® declara
                    que las finalidades del tratamiento de tus Datos Personales
                    serán las siguientes (“Finalidades del Tratamiento”):
                </p>

                <ul class="list-disc pl-5">
                    <li><p>Creación de cuenta, con el objeto de que tengas acceso a la plataforma Wahu® (a través de los medios que se señalan en este Aviso Comercial de Wahu®), así como al material que ahí se ofrezca de tiempo en tiempo, sujeto a los términos y condiciones de dicho servicio.</p></li>
                    <li><p>Fines comerciales, con el objeto de darte a conocer la información comercial de Wahu®, entre la que se destaca la relacionada con trivias, promociones, concursos, información de nuevos productos, felicitaciones de cumpleaños, revista electrónica, cambios en nuestros productos, solicitar evaluación de la calidad en el servicio, realizar estudios internos sobre hábitos de consumo y cualquier otro promocional o cuestión relacionada con los productos y/o servicios que forman parte del concepto comercialmente conocido como Wahu®.</p></li>
                    <li><p>Cobro en línea de transacciones, con el fin de realizar los cargos a las tarjetas bancarias que se proporcionen en el proceso de suscripción, derivado de la renta del material y/o de la adquisición de servicios de Wahu®.</p></li>
                    <li><p>Para la validación de información y para el trámite de autorizaciones y cargos bancarios necesarios para llevar a cabo el cobro en línea de transacciones, Wahu® podrá trasferir tus datos bancarios a las instituciones financieras, bancarias y/o terceros nacionales o extranjeros relacionados con dichos cargos, procesos y cobros en línea, ello con la única finalidad de llevar a cabo las mencionadas transacciones en línea.</p></li>
                    <li><p>Funcionamiento de la plataforma de Wahu®, para llevar a cabo las transacciones del material que desees rentar y con ello dar cumplimiento a las obligaciones derivadas de dicha transacción, Wahu® utilizará tus datos personales y la información que nos proporciones para gestionar, mantener y direccionar a la plataforma en la que se encontrará el material sujeto de la transacción.</p></li>
                    <li><p>En relación con lo establecido en el párrafo anterior, Wahu® podrá transferir tus datos personales a terceros nacionales o extranjeros, única y exclusivamente, a efecto de que lleven a cabo las transacciones del material que desees rentar, así como para gestionar, mantener y direccionar a la plataforma en la que se encontrará el material.</p></li>
                    <li><p>Entrega de productos y cumplimiento de obligaciones con nuestros clientes, en caso que te hagas acreedor a algún premio, derivado de las promociones, trivias o sorteos de Wahu®, o para cumplir con las obligaciones que en su caso tengamos o llegáramos a tener contigo, utilizaremos tus Datos Personales para contactarte o enviarte los productos.</p></li>
                    <li><p>En relación con lo anterior y en caso de que para contactarte, entregarte los productos o para dar cumplimiento a las obligaciones que tenemos o llegaremos a tener contigo llegaremos a requerir de los servicios de terceros nacionales o extranjeros que realicen las gestiones anteriores, Wahu® podrá llegar a transferir tus datos personales a dichos terceros, ello con la única finalidad de realizar el mencionado contacto, la entrega de productos y el cumplimiento de obligaciones.</p></li>
                    <li><p>Fines estadísticos, la información recabada o derivada de las finalidades anteriores podrá ser utilizada internamente por Wahu® con fines estadísticos, de investigación, análisis de marcados o de hábitos de consumo.</p></li>
                </ul>
                

                <p class="text-xl font-bold">
                    5. Aceptación del tratamiento de Datos Personales
                </p>

                <p>
                    Para que Wahu® pueda llevar a cabo el Tratamiento de Datos
                    Personales, nuestros clientes y/o titulares de Datos
                    Personales deberán otorgarnos la aceptación expresa o tácita
                    para dicho tratamiento, la cual se llevará por cualquiera de
                    los siguientes medios:
                </p>

                <p class="text-xl font-bold">
                    5.1. Aceptación a través de medios electrónicos
                </p>

                <p>a) Publicación en las páginas de internet de Wahu®</p>

                <p>
                    Wahu® publicará en las Páginas de internet de Wahu® el
                    presente Aviso de Privacidad, con el fin de que, una vez que
                    te enteres de su contenido, otorgues o niegues tu
                    consentimiento para que Wahu® pueda llevar a cabo el
                    Tratamiento de tus Datos Personales.
                </p>

                <p>
                    Esto también procederá, en caso que, por cualquier motivo,
                    Wahu® no cuente con tu dirección de correo electrónico o
                    cuando tus Datos Personales sean erróneos o estén en desuso
                    y no nos permitan localizarte.
                </p>

                <p>b) Correo electrónico</p>

                <p>
                    Con base en la información que nos proporciones o nos hayas
                    proporcionado, Wahu® te hará llegar el presente Aviso de
                    Privacidad mediante correo electrónico, cuando sea
                    procedente, con el fin de que una vez que te hayas enterado
                    de su contenido, nos otorgues o niegues tu consentimiento
                    para que se pueda llevar a cabo el Tratamiento de tus Datos
                    Personales.
                </p>

                <p class="text-xl font-bold">
                    5.2. Aceptación o rechazo del Aviso de Privacidad por medios
                    electrónicos
                </p>

                <p>
                    La aceptación o el rechazo del Aviso de Privacidad de Wahu®
                    por medios electrónicos será efectuada de la siguiente
                    manera:
                </p>

                <ul class="list-disc pl-5">
                    <li>
                        <p>
                            Wahu® pondrá a tu disposición (o, en su caso, te
                            enviará a la dirección de correo electrónico que
                            tenga registrada a tu nombre), la siguiente
                            información:
                        </p>
                        <ul class="list-disc pl-5">
                            <li>
                                <p>
                                    La manifestación de que existe un Aviso de
                                    Privacidad de Wahu®, o las modificaciones o
                                    cambios que se realicen a dicho Aviso, en su
                                    caso.
                                </p>
                            </li>
                            <li>
                                <p>
                                    El contenido del Aviso de Privacidad y en su
                                    caso, las actualizaciones o adecuaciones que
                                    se realicen al mismo.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Un vínculo electrónico mediante el cual
                                    puedas aceptar o no aceptar el Aviso o
                                    Privacidad, o los cambios que éste llegare a
                                    tener.
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            Una vez que hayas leído y estés enterado del
                            contenido del Aviso de Privacidad, o bien, de los
                            cambios que se le realicen, tendrás las siguientes
                            opciones:
                        </p>
                        <ul class="list-disc pl-5">
                            <li>
                                <p>
                                    Aceptar. Mediante tu aceptación otorgas
                                    consentimiento y autorización para que
                                    Wahu® pueda utilizar tus Datos Personales
                                    de acuerdo con las Finalidades del
                                    Tratamiento establecidas en el Aviso de
                                    Privacidad.
                                </p>
                            </li>
                            <li>
                                <p>
                                    No aceptar. Cuando no aceptes el contenido
                                    del Aviso de Privacidad o sus
                                    modificaciones, niegas o cancelas tu
                                    consentimiento y autorización para que
                                    Wahu® utilice tus Datos Personales.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Un vínculo electrónico mediante el cual
                                    puedas aceptar o no aceptar el Aviso o
                                    Privacidad, o los cambios que éste llegare a
                                    tener.
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>

                <p>
                    En este caso, Wahu® cancelará y dejará de usar tus Datos
                    Personales para las Finalidades del Tratamiento establecidas
                    en el Aviso de Privacidad, lo que puede implicar la
                    cancelación del servicio que se te brinde, al ser tus datos
                    necesarios para estos efectos.
                </p>

                <p class="text-xl font-bold">5.3. Aceptación tácita</p>

                <p>
                    El contenido de este Aviso de Privacidad, así como cualquier
                    modificación o adición al mismo te serán dadas a conocer por
                    cualquiera de los medios establecidos en los apartados 5.1.
                    y 5.2. que anteceden, y en caso de que no manifiestes
                    oposición al contenido y alcances de los mismos dentro de un
                    periodo de 2 meses, contados a partir de la fecha en la que
                    Wahu® ponga a tu disposición o te informe sobre el Aviso de
                    Privacidad o sus modificaciones, se entenderá que otorgas tu
                    consentimiento tácito para que efectúe el tratamiento de tus
                    Datos Personales con base en las Finalidades del
                    Tratamiento, establecidas en este Aviso de Privacidad.
                </p>

                <p class="text-xl font-bold">
                    6. Limitación del uso o divulgación de tus Datos Personales
                </p>

                <p class="text-xl font-bold">
                    6.1. Acciones para prevenir el uso o divulgación no
                    autorizada
                </p>

                <p>
                    Con el fin de garantizar la protección de tus Datos
                    Personales y limitar el uso o divulgación no autorizada de
                    los mismos, Wahu® continuamente realiza y realizará las
                    siguientes acciones:
                </p>

                <ul class="list-disc pl-5">
                    <li>
                        <p>
                            Confidencialidad de la información. Wahu® guardará
                            confidencialidad respecto de tus Datos Personales
                            recabados, misma que subsistirá aun después de
                            finalizar sus relaciones comerciales o de otra
                            naturaleza con el cliente o titular de dichos Datos
                            Personales.
                        </p>
                    </li>
                    <li>
                        <p>
                            Notificación de confidencialidad. Wahu® puede
                            proporcionar tus Datos Personales a terceros (en los
                            términos previstos en la legislación aplicable o en
                            el presente Aviso de Privacidad), para lo cual,
                            notificará, contratará y/o convendrá con dichos
                            terceros la obligación de cumplir con las
                            disposiciones de la ley y de guardar la
                            confidencialidad de tus Datos Personales.
                        </p>
                    </li>
                    <li>
                        <p>
                            Administración de bases de datos. Los Datos
                            Personales son administrados y resguardados mediante
                            el uso de bases de datos (“Base de Datos”), las
                            cuales son administradas por las personas designadas
                            por Wahu® y/o por terceros autorizados expresamente
                            y por escrito, para tal efecto, sin que se permita
                            su uso, consulta, manejo o acceso a personas no
                            autorizadas.
                        </p>
                    </li>
                    <li>
                        <p>
                            Sistemas de cómputo e informáticos. Nuestras Bases
                            de Datos están protegidas por firewalls, candados de
                            navegación y sistemas de cómputo y/o informáticos
                            enfocados a prevenir y evitar el que personas ajenas
                            a Wahu® o no autorizadas puedan acceder a tus Datos
                            Personales.
                        </p>
                    </li>
                </ul>

                <p class="text-xl font-bold">
                    6.2. Solicitudes para limitar el uso o divulgación
                </p>

                <p>
                    En caso que desees limitar el uso o divulgación de tus Datos
                    Personales, en relación con una o varias de las Finalidades
                    del Tratamiento de Datos Personales (como caso, por ejemplo,
                    correos publicitarios, felicitaciones de cumpleaños, entrega
                    de premios, entre otros), podrás enviar la solicitud
                    respectiva conforme al procedimiento establecido en el
                    apartado 7 del presente Aviso de Privacidad, o mediante el
                    acceso a los vínculos que se cargan o llegaren a cargar en
                    las páginas de internet de Wahu® o en la información
                    promocional que te hacemos llegar.
                </p>

                <p class="text-xl font-bold">
                    7. Derechos de acceso, rectificación, cancelación u
                    oposición
                </p>

                <p>
                    De acuerdo con lo establecido en la legislación aplicable
                    correspondiente, tienes derecho al acceso, rectificación,
                    cancelación u oposición al Tratamiento de tus Datos
                    Personales, para lo cual Wahu® te ofrece el siguiente
                    procedimiento:
                </p>

                <p class="text-xl font-bold">
                    7.1. Departamento de Datos Personales
                </p>

                <p>
                    Wahu® ha designado un departamento a cargo de la custodia
                    de los Datos Personales (“Departamento de Datos
                    Personales”), el cual dará trámite a tus solicitudes y
                    fomentará la protección de los Datos Personales al interior
                    de Wahu®.
                </p>

                <p>
                    Para lo anterior, el Departamento de Datos Personales pone a
                    tu disposición las siguientes formas de contacto y recepción
                    de información y documentación relacionada:
                </p>

                <ul class="list-disc pl-5">
                    <li>
                        Correo electrónico: info@wahustreaming.com Dirección:
                        Bajada de Chapultepec No. 8 Loc. 1, Col. Chapultepec,
                        C.P. 62450, Cuernavaca, Morelos, México.
                    </li>
                    <li>Con Atención a: Departamento de Datos Personales.</li>
                </ul>

                <p class="text-xl font-bold">
                    7.2. Solicitud de acceso, rectificación, cancelación u
                    oposición
                </p>

                <p>
                    En tu carácter de titular de Datos Personales, podrás
                    presentar o enviar al Departamento de Datos Personales una
                    solicitud para el acceso, rectificación, cancelación u
                    oposición, respecto de tus Datos Personales. Dicha solicitud
                    deberá contener, por lo menos:
                </p>

                <ul class="list-disc pl-5">
                    <li>
                        <p>
                            Nombre completo y domicilio del titular de los Datos
                            Personales, u otro medio para comunicarle la
                            respuesta a su solicitud.
                        </p>
                    </li>
                    <li>
                        <p>
                            Documentos que acrediten la identidad o la
                            representación legal del titular de los Datos
                            Personales.
                        </p>
                    </li>
                    <li>
                        <p>
                            Descripción clara y precisa de los Datos Personales
                            respecto de los que se busca ejercer alguno de los
                            derechos antes mencionados.
                        </p>
                    </li>
                    <li>
                        <p>
                            Cualquier otro elemento o documento que facilite la
                            localización de los Datos Personales.
                        </p>
                    </li>
                    <li>
                        <p>
                            Indicar de las modificaciones a realizarse y/o las
                            limitaciones al uso de los Datos Personales,
                            conforme a lo establecido en el apartado 6.2. del
                            presente Aviso de Privacidad.
                        </p>
                    </li>
                    <li>
                        <p>
                            Aportar la documentación que sustente su petición.
                        </p>
                    </li>
                </ul>

                <p class="text-xl font-bold">7.3. Resolución y comunicación</p>

                <p>
                    Wahu® comunicará al titular de los Datos Personales la
                    determinación adoptada, en un plazo no mayor a 10 días
                    hábiles contados a partir de la fecha en que se recibió la
                    solicitud. Este plazo podrá ser ampliado por Wahu® por 5
                    días hábiles, siempre y cuando así lo justifiquen las
                    circunstancias del caso.
                </p>

                <p>
                    Con base en lo anterior, y de acuerdo con lo establecido en
                    la legislación aplicable, Wahu® informará al titular de los
                    Datos Personales el sentido y motivación de la resolución,
                    por el mismo medio por el que se llevó a cabo la solicitud,
                    y acompañará dicha resolución de las pruebas pertinentes, en
                    su caso.
                </p>

                <p>
                    Cuando la solicitud sea procedente, se hará efectiva por
                    Wahu® dentro de los 15 días hábiles siguientes a la
                    comunicación de la resolución adoptada.
                </p>

                <p>
                    El titular podrá presentar ante el organismo público de
                    protección de datos personales que corresponda, una
                    solicitud de protección de datos por la respuesta recibida o
                    falta de respuesta de Wahu®. Dicha solicitud deberá
                    presentarse por el titular dentro de los 15 días hábiles
                    siguientes a la fecha en que se comunique la respuesta al
                    titular por parte de Wahu®, y se sujetará a lo previsto en
                    la legislación aplicable.
                </p>

                <p>
                    En caso de solicitudes de acceso a Datos Personales, será
                    necesario que el solicitante o su representante legal
                    acrediten previamente su identidad.
                </p>

                <p>
                    La obligación de acceso a la información se dará por
                    cumplida cuando Wahu® ponga a disposición del titular los
                    Datos Personales o mediante la expedición de copias simples
                    o documentos electrónicos.
                </p>

                <p>
                    En el supuesto en que una persona solicite a Wahu® el
                    acceso a sus Datos Personales presumiendo que éste es el
                    responsable y resultara que no lo es, Wahu® se lo indicará
                    al titular por cualquier medio, (de los establecidos en este
                    apartado), y se le dará traslado al responsable para tener
                    por desahogada la solicitud.
                </p>

                <p>
                    La contestación a tu solicitud para acceso, rectificación,
                    cancelación u oposición de los Datos Personales será
                    gratuita. Deberás cubrir únicamente los gastos justificados
                    de envío o el costo de reproducción en copias u otros
                    formatos, los cuales, en su momento, te hará saber Wahu®.
                </p>

                <p>
                    En caso que la misma persona reitere la solicitud de acceso,
                    rectificación, cancelación u oposición de los Datos
                    Personales en un periodo menor a 12 meses contado a partir
                    de la fecha de la última solicitud, la contestación a tu
                    solicitud podrá tener un costo adicional que señale Wahu®.
                </p>

                <p class="text-xl font-bold">
                    7.4. Negativa para acceder a Datos Personales
                </p>

                <p>
                    Wahu® podrá negar el acceso total o parcial a los Datos
                    Personales o a la realización de la rectificación,
                    cancelación u oposición al tratamiento de los mismos, en los
                    siguientes supuestos:
                </p>

                <ul class="list-disc pl-5">
                    <li>
                        Cuando el solicitante no sea el titular o el
                        representante legal no esté acreditado para ello.
                    </li>
                    <li>
                        Cuando en la Base de Datos de Wahu® no se encuentren
                        los Datos Personales del solicitante.
                    </li>
                    <li>Cuando se lesionen los derechos de un tercero.</li>
                    <li>
                        Cuando exista impedimento legal o resolución de una
                        autoridad.
                    </li>
                    <li>
                        Cuando la rectificación, cancelación u oposición haya
                        sido previamente realizada, de manera que la solicitud
                        carezca de materia.
                    </li>
                </ul>

                <p class="text-xl font-bold">
                    7.5. Consecuencias de la cancelación
                </p>

                <p>
                    La cancelación de Datos Personales dará lugar a un periodo
                    de bloqueo tras el cual Wahu® procederá a la supresión de
                    los datos correspondientes. Una vez cancelados los Datos
                    Personales correspondientes, Wahu® dará aviso a su titular.
                </p>

                <p>
                    Hecho lo anterior, Wahu® podrá conservar los Datos
                    Personales exclusivamente para efectos de las
                    responsabilidades derivadas del tratamiento a que se refiere
                    el Aviso de Privacidad.
                </p>

                <p>
                    Cuando los Datos Personales se hubiesen transmitido a
                    terceros antes de la rectificación o cancelación y sean
                    tratados por dichos terceros, Wahu® deberá hacer de su
                    conocimiento la solicitud presentada por el titular, para
                    que procedan a efectuar tales rectificaciones o
                    cancelaciones.
                </p>

                <p>
                    Wahu® no estará obligado a cancelar tus Datos Personales
                    cuando se trate de supuestos para dar cumplimiento a la ley,
                    el interés jurídico del titular o para la procuración o
                    administración de justicia.
                </p>

                <p>
                    Asimismo, cuando la información recabada en los Datos
                    Personales deje de ser necesaria para el cumplimiento de las
                    finalidades previstas en este Aviso de Privacidad y en las
                    disposiciones jurídicas aplicables, tus Datos Personales
                    serán cancelados de las Bases de Datos de Wahu®.
                </p>

                <p class="text-xl font-bold">
                    8. Cambios al aviso de privacidad
                </p>

                <p>
                    Wahu® se reserva el derecho de efectuar, en cualquier
                    momento, modificaciones o actualizaciones al presente Aviso
                    de Privacidad, para la atención de novedades legislativas o
                    jurisprudenciales, políticas internas, nuevos requerimientos
                    para la prestación u ofrecimiento de sus productos y
                    servicios, o por prácticas comerciales.
                </p>

                <p>
                    Por lo anterior, en caso que Wahu® llegare a modificar el
                    contenido del presente Aviso de Privacidad, lo hará de tu
                    conocimiento mediante alguna de las formas y medios
                    establecidos en el apartado 5. del presente Aviso.
                </p>

                <p>
                    El presente Aviso de Privacidad fue actualizado por última
                    ocasión el 26 de noviembre de 2020
                </p>

                <p class="text-xl font-bold">
                    9. Transferencia de Datos Personales
                </p>

                <p>
                    En caso de que Wahu® llegare a transferir tus Datos
                    Personales a alguno de sus proveedores o terceros nacionales
                    o extranjeros con el fin de llevar a cabo las Finalidades
                    del Tratamiento establecidas en el presente Aviso de
                    Privacidad, lo hará previa celebración de convenios de
                    confidencialidad y/o mediante el documento contractual o
                    jurídico aplicable y, siempre y cuando el proveedor o
                    tercero a quien se le transmitan acepte someter el
                    tratamiento de los Datos Personales al presente Aviso de
                    Privacidad y a la legislación aplicable.
                </p>

                <p>
                    Si usted no manifiesta su oposición para que sus Datos
                    Personales sean transferidos a terceros, se entenderá que ha
                    otorgado a Wahu® su consentimiento para ello.
                </p>

                <div class="text-center space-y-5 pt-10">
                    <p>
                        Consideraciones finales – Carácter informativo del
                        presente documento
                    </p>
                    <p>
                        El contenido de este Aviso de Privacidad es de carácter
                        meramente informativo, por lo que en caso de que desees
                        expresar tu aceptación o rechazo al contenido del mismo,
                        te invitamos a enviarnos un correo electrónico a la
                        cuenta <a
                            href="mailto:info@wahustreaming.com?subject=Consulta&body=Hola, tengo una pregunta."
                            class="text-lime-400 underline"
                        >
                            info@wahustreaming.com
                        </a>
                        , en donde podrás notificarnos dicha aceptación o rechazo
                        tanto al contenido del presente Aviso de Privacidad como
                        a la posible transferencia de tus Datos Personales, o en
                        su caso, envíes la solicitud correspondiente al Departamento
                        de Datos Personales de Wahu® en la dirección señalanda en
                        el presente documento.
                    </p>
                </div>
            </div>
        </div>
    </div>
</Layout>