---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="bg-slate-900 px-5 py-10">
        <!-- Ajusta el margen superior para que el contenido no quede oculto -->
        <div class="max-w-screen-2xl mx-auto mt-28">
            <!-- Cambia 'mt-20' según la altura de tu navbar -->
            <div
                class="text-lime-400 text-3xl mb-5 text-start font-montserrat font-variant-caps"
            >
                <h1>Términos y Condiciones</h1>
            </div>
            <div class="text-slate-400 mt-3 space-y-5 text-justify">
                <p>
                    Wahu® es un servicio de la empresa Media Streaming, S.A. de
                    C.V. (en lo sucesivo Wahu®), que le permite acceder y
                    rentar contenidos audiovisuales que se encuentren
                    disponibles en línea, a través de nuestra plataforma,
                    exclusivamente para uso personal por parte del Usuario, por
                    lo que está prohibida la reproducción y distribución total o
                    parcial del Contenido, para fines comerciales o en eventos
                    públicos o cualquier otro uso que no sea exclusivamente
                    personal.
                </p>
                <p>
                    Toda la entrega de contenidos audiovisuales al Usuario,
                    serán vía streaming a los dispositivos compatibles, durante
                    el tiempo en que Wahu® y el titular de los derechos del
                    producto tengan los derechos para proveerlo, sujetándose a
                    las condiciones y restricciones de los presentes términos de
                    uso.
                </p>
                <p>
                    Los presentes términos y condiciones regulan la relación
                    entre Usted (indistintamente Usuario, Usuario Final ó
                    Cliente) y Wahu®, en relación con el servicio de renta de
                    contenidos audiovisuales en formato digital, eventos en vivo
                    y cualquier otra obra audiovisual (el “Contenido”)
                    proporcionada por Wahu®, vía Internet, incluyendo cualquier
                    medio digital que se utilice actualmente o cualquier otro
                    que sea utilizado en el futuro (el “Servicio”).
                </p>
                <p>
                    Al registrarse como Usuario, usted entiende, está conforme y
                    acepta expresa e irrevocablemente los términos y condiciones
                    del Servicio, así como aquellas restricciones y salvedades
                    que aquí se establecen.
                </p>
                <p>
                    Wahu® se reserva el derecho exclusivo a modificar los
                    términos y condiciones, en cualquier tiempo y por cualquier
                    circunstancia, sirviendo como notificación de cualquier
                    modificación, el envío de la comunicación a través de correo
                    electrónico y/o la publicación en la página de Internet <a
                        href="https://wahustreaming.com"
                        class="text-lime-400 underline"
                        >https://wahustreaming.com</a
                    > para que surta efectos frente al Usuario.
                </p>

                <p class="text-xl font-bold">1. Registro/Cuenta</p>

                <p>
                    Para poder utilizar el Servicio, usted debe registrarse en
                    la página de Internet <a
                        href="https://wahustreaming.com"
                        class="text-lime-400 underline"
                        >https://wahustreaming.com</a
                    > y crear una cuenta personal con información exacta y actualizada,
                    siguiendo los pasos e instrucciones que allí se señalan.
                </p>
                <p>
                    Usted es responsable del uso de su cuenta, incluyendo el no
                    autorizar a terceros, por lo que le pedimos sea cuidadoso
                    para proteger la seguridad de su cuenta y contraseña.
                </p>
                <p>
                    Le recomendamos asegurarse de cerrar correctamente su sesión
                    al concluir cada visita, a fin de evitar mal uso por parte
                    de terceros no autorizados, pues en este caso Wahu® no
                    tendrá responsabilidad.
                </p>
                <p>
                    A menos que se trate de recolectar información para la
                    prestación del servicio (por ejemplo: pagos, costos,
                    transacciones, etc.), ya sea por Wahu® y/o terceros que
                    recaben información, no revele la información de su cuenta a
                    nadie más, ya que Wahu® no se hace responsable por ningún
                    daño, perjuicio, afectación o pérdida derivada del uso no
                    autorizado de su cuenta. Usted acepta notificar
                    inmediatamente a Wahu® sobre cualquier fallo de seguridad
                    en su cuenta, a través de la cuenta de correo electrónico: <a
                        href="mailto:info@wahustreaming.com"
                        class="text-lime-400 underline"
                        >info@wahustreaming.com</a
                    >.
                </p>
                <p>
                    Usted está de acuerdo y se obliga a proporcionar y mantener
                    actualizada, información exacta y completa cuando se
                    registre y durante la vigencia de uso del Servicio.
                </p>
                <p>
                    Cualquier información que proporcione para el registro y
                    actualización, se regirá por la Política de Privacidad de
                    Wahu®, consultable en <a
                        href="https://wahustreaming.com/privacy-policy"
                        class="text-lime-400 underline"
                        >https://wahustreaming.com/privacy-policy</a
                    >.
                </p>

                <p class="text-xl font-bold">2. Servicio</p>
                <p>
                    El Servicio únicamente está disponible para personas de 13
                    años de edad y mayores. Personas entre 13 y 17 años deben
                    revisar los términos y condiciones con sus padres o tutores,
                    en el entendido que registrándose, consienten el uso del
                    Servicio y entienden, están conformes y aceptan sus términos
                    y condiciones, así como aquellas restricciones y salvedades
                    que aquí se establecen.
                </p>
                <p>
                    Es responsabilidad exclusiva de los padres o tutores, el
                    imponer restricciones o medidas de acceso a sus hijos
                    menores de edad o tutorados, respecto de la(s) cuenta(s) de
                    la(s) que son(sean) titular(es).
                </p>
                <p>
                    El Servicio está disponible en la República Mexicana. Usted
                    acepta no utilizar o intentar utilizar el Servicio fuera de
                    los Territorios establecidos, salvo contenidos o eventos que
                    sean de acceso internacional y estén licenciados para tal
                    fin. Wahu® puede utilizar tecnologías para restringir el
                    uso del Servicio fuera de los Territorios, así como
                    verificar el cumplimiento de esta restricción y, en su caso,
                    aplicar las sanciones que sean procedentes en caso de
                    incumplimiento.
                </p>
                <p>
                    El uso del Servicio requiere, o podría requerir,
                    dispositivos compatibles, acceso a Internet y determinado
                    software (pudiendo aplicar tarifas). Asimismo, el Servicio
                    puede requerir actualizaciones periódicas y puede ser
                    afectado por el desempeño de cualquiera de los factores
                    antes mencionados.
                </p>
                <p>
                    Se recomienda el acceso a Internet de alta velocidad para su
                    uso regular, así como utilizar la última versión del
                    software requerido para acceder al Servicio y puede
                    requerirse para determinadas transacciones u opciones y para
                    acceder a cierto Contenido. Para reproducciones en formato
                    SD, se requiere por lo menos 1.5 Mbps de ancho de banda y
                    para reproducciones en sistema HD, se requiere por lo menos
                    5 Mbps. Usted acepta y se obliga a cumplir con estos
                    requisitos, los que pueden cambiar periódicamente.
                </p>
                <p>
                    Wahu® podrá incluir y/o remitir información, por cualquier
                    medio, respecto a servicios y/o promociones otorgadas por
                    socios comerciales, independiente al Servicio prestado por
                    Wahu®. Cualquier cobro o cargo que deban realizarse por
                    virtud del Servicio, podrán ser realizados por Wahu® y/o
                    terceros que tengan relación con Wahu®.
                </p>

                <p class="text-xl font-bold">3. Tipos de Servicio</p>

                <p>
                    Una vez registrado en el sitio de internet
                    <a
                        href="https://wahustreaming.com"
                        class="text-lime-400 underline"
                        >https://wahustreaming.com</a
                    >, Usted podrá elegir adquirir alguno(s) de los siguientes
                    servicios:
                </p>

                <p>
                    i. Servicio de renta en línea vía acceso o streaming en un
                    dispositivo compatible con el Servicio de una obra
                    audiovisual disponible, a cambio del pago del precio
                    correspondiente. Para este servicio, se le permitirá ver el
                    contenido solo en un dispositivo a la vez. A partir del
                    momento inmediato posterior a la realización del pago de
                    renta, se acuerda que una vez iniciada la reproducción solo
                    se tendrán 48 horas posteriores para verla las veces que se
                    deseen. Parar, pausar o reiniciar el contenido no extiende
                    el tiempo disponible para verlo.
                </p>

                <p>
                    ii. Servicio de compra en línea mediante el cual vía acceso
                    o streaming, se le permite al usuario a cambio del pago del
                    precio correspondiente acceder y visualizar una copia de una
                    obra audiovisual específica durante el periodo de tiempo en
                    que la empresa que proporciona este servicio y el titular de
                    los derechos del producto tengan derechos para facilitarlo.
                    Para este servicio de compra de contenido de obras
                    audiovisuales, se le permitirá ver el contenido en un solo
                    dispositivo a la vez y tantas veces como se desee, a partir
                    del momento inmediato posterior al pago de la compra. Usted
                    acepta que en caso de que ya no esté disponible la obra,
                    Wahu® no tendrá obligación, ni responsabilidad de otorgar
                    algún reembolso o reposición del contenido adquirido.
                </p>

                <p class="text-xl font-bold">
                    4. Software y tecnología del Servicio
                </p>

                <p>
                    Wahu® es titular del Software que proporciona este Servicio
                    y el cual está diseñado para permitir la transmisión por
                    internet del Contenido. Este Software puede estar
                    incorporado en un dispositivo o bien se puede ofrecer
                    licencia del software para que se descargue en un
                    dispositivo, como podrá ser una computadora, tableta o
                    Smartphone, por lo que únicamente para usar el Servicio de
                    forma personal se podrá utilizar.
                </p>

                <p>
                    Los usuarios del Servicio no podrán en ningún caso y bajo
                    ningún concepto modificar, interferir o de alguna forma
                    alterar el Software y tecnología del Servicio, esta
                    restricción de manera enunciativa y no limitativa
                    comprenderá la inhabilitación, incorporación, modificación,
                    interferencia, alteración o cualquier otra forma para
                    permitir ver el contenido sin mostrar todos los elementos
                    técnicos, informativos y/o de cualquier índole de la página
                    web donde se proporciona el Servicio.
                </p>

                <p class="text-xl font-bold">5. Dispositivos</p>

                <p>
                    Para los efectos de este Servicio, un dispositivo debe
                    entenderse como cualquier equipo electrónico que tiene
                    autorización y capacidad para decodificar las películas y
                    contenido audiovisual que se proporcionan en línea por este
                    Servicio. Wahu®, por el momento, se visualiza
                    exclusivamente desde un navegador web (en cualquier
                    dispositivo que tenga acceso a uno), a través del sitio de
                    internet <a
                        href="https://wahustreaming.com"
                        class="text-lime-400 underline"
                        >https://wahustreaming.com</a
                    >. Posteriormente, estará disponible en aplicaciones
                    descargables para móviles y pantallas inteligentes. Wahu®
                    informará con oportunidad cuando esto suceda, a través de la
                    actualización de los Términos de Uso y en nuestra sitio de
                    internet <a
                        href="https://wahustreaming.com"
                        class="text-lime-400 underline"
                        >https://wahustreaming.com</a
                    >.
                </p>

                <p>
                    Wahu® no asume responsabilidad o garantías respecto al
                    desempeño de los dispositivos, incluyendo la compatibilidad
                    del dispositivo con el Servicio. Usted acuerda que si el
                    contenido no es accesible a través de ciertos dispositivos,
                    será su responsabilidad consultarlo con el fabricante del
                    dispositivo, por lo que Wahu® se libera de cualquier
                    responsabilidad.
                </p>

                <p class="text-xl font-bold">6. Precios y Pagos</p>

                <p>
                    Los precios publicados en cada Contenido son netos, por lo
                    que ya incluyen el impuesto al valor agregado (“IVA”) en
                    caso de aplicar.
                </p>

                <p>
                    Los precios de cada Contenido pueden cambiar sin previo
                    aviso.
                </p>

                <p>
                    Las formas de pago establecidas por Wahu® para la
                    adquisición de algún servicio actualmente son mediante
                    tarjeta de crédito Visa o MasterCard, así como PayPal, las
                    cuales podrán variar de tiempo en tiempo y se encuentran
                    sujetos a la disponibilidad en el país correspondiente.
                </p>

                <p>
                    Si su cargo es rechazado, deberá ponerse en contacto con el
                    Banco o Institución financiera de su método de pago para
                    hacer la aclaración correspondiente.
                </p>

                <p class="text-xl font-bold">7. Privacidad</p>

                <p>
                    El Servicio está sujeto a la Política de Privacidad y al
                    Aviso de Privacidad que se encuentran en la página de
                    internet
                    <a
                        href="https://wahustreaming.com/privacy-policy"
                        class="text-lime-400 underline"
                        >https://wahustreaming.com/privacy-policy</a
                    >.
                </p>

                <p>
                    El uso del Servicio y/o acceso al Contenido, representa su
                    consentimiento expreso e irrevocable a lo dispuesto en la
                    Política de Privacidad de Wahu®, por consiguiente usted
                    deberá leer cuidadosamente dicha Política de Privacidad
                    antes de hacer uso del Servicio y/o acceder al Contenido.
                </p>

                <p class="text-xl font-bold">8. Disponibilidad del Contenido</p>

                <p>
                    Wahu® se reserva el derecho de cambiar las opciones
                    (incluyendo, sin limitar, costos, disponibilidad,
                    accesibilidad, etc.) del Contenido en cualquier tiempo,
                    bastando aviso que por cualquier medio electrónico haga
                    Wahu® al Usuario, notificándolo de dichas modificaciones.
                </p>

                <p>
                    La disponibilidad del Contenido se modificará o puede
                    modificarse periódicamente. La calidad de la imagen del
                    Contenido transmitido por Internet, puede variar de
                    computadora a computadora, de dispositivo a dispositivo y
                    puede verse afectada por diversos factores, tales como su
                    ubicación, el ancho de banda disponible y/o la velocidad de
                    su conexión a Internet.
                </p>

                <p>
                    La tecnología que usa Wahu®, permite bajar la calidad del
                    video cuando detecta automáticamente un descenso en el ancho
                    de banda del Usuario, con el fin de que la reproducción del
                    contenido audiovisual sea continuo. El Usuario puede
                    seleccionar subir esta calidad, sujetándose a que en caso de
                    no tener el ancho de banda de Internet adecuado, el servicio
                    de transmisión vía Streaming pudiera verse afectado con
                    cortes e intermitencias.
                </p>

                <p>
                    Todos los cargos de acceso a Internet correrán por cuenta
                    del Usuario. Solicite a su proveedor de Internet información
                    acerca de los posibles cargos de consumo de datos por uso de
                    Internet. Wahu® no garantiza la calidad de imágenes, ni la
                    velocidad del Servicio.
                </p>

                <p>
                    Los tipos y las descripciones del Contenido (por ejemplo,
                    enunciativamente y no limitativamente: títulos de películas
                    y otros contenidos, clasificaciones, portadas, sinopsis,
                    etc.) se pueden proporcionar por terceros para fines
                    informativos, por lo que el Usuario acepta y reconoce que
                    Wahu® no garantiza su exactitud.
                </p>

                <p>
                    El Contenido disponible puede clasificarse (enunciativa y no
                    limitativamente) de tiempo en tiempo y a discreción de
                    Wahu®, en: películas, series, programas, cursos, talleres,
                    conferencias, eventos en vivo (incluidos conciertos y
                    eventos de cualquier tipo), etc.
                </p>

                <p>
                    La transmisión de los eventos en vivo es responsabilidad
                    exclusiva de quién los realiza, su titular y/u organizador,
                    salvo que expresamente se especifique lo contrario.
                </p>

                <p>
                    Para efectos de claridad, se establece que, salvo que
                    expresamente se especifique que el evento en vivo es
                    responsabilidad exclusiva de Wahu®, en los demás casos
                    cualquier falla/ interrupción en la transmisión, calidad o
                    inconveniente que se presente durante la transmisión es
                    responsabilidad del tercero, pues Wahu® actúa únicamente
                    como intermediario para poner a disposición de los Usuarios
                    la señal que proporciona el responsable del evento.
                </p>

                <p class="text-xl font-bold">
                    9. Consideraciones sobre el Contenido
                </p>

                <p>
                    Los contenidos que se ofrezcan en este sitio indicarán la
                    clasificación correspondiente conforme a lo establecido en
                    la legislación correspondiente del Territorio aplicable, por
                    lo que los usuarios deberán observar tales restricciones al
                    momento de hacer uso del Servicio.
                </p>

                <p>
                    Wahu® ofrece una gran variedad de contenidos de diversos
                    géneros, así como estrenos (o premieres), para los efectos
                    de estos términos de uso, se deberá entender por estrenos (o
                    premieres) a los contenidos que recientemente se exhibieron
                    en salas de cine, festivales u otros recintos públicos o
                    privados.
                </p>

                <p class="text-xl font-bold">10. Contenido para Adultos</p>

                <p>
                    El Contenido de clasificación “C” o “D” no es apto para
                    menores de 18 años. Wahu® recomienda firmemente que el
                    acceso y uso de dicho Contenido sea exclusivo de mayores de
                    18 años y que los menores se abstengan en todo momento, de
                    ingresar o intentar acceder a tal Contenido.
                </p>

                <p>
                    No obstante lo anterior, el acceso a Contenido de
                    clasificación “C” o “D” no está restringido al ingresar a su
                    cuenta, sin embargo, para poder utilizarlo, el Usuario
                    deberá manifestar ser mayor de 18 años. Wahu® no se hace
                    responsable bajo ninguna circunstancia, por información
                    incorrecta o falsa proporcionada para el uso de este tipo de
                    Contenido.
                </p>

                <p>
                    En caso de que algún menor de 18 años ingrese o utilice el
                    Contenido de clasificación “C” o “D” (con o sin su
                    autorización) en uso de su cuenta, Wahu® no se hace
                    responsable bajo ninguna circunstancia por el uso del
                    Contenido y sus consecuencias. El Usuario libera
                    expresamente a Wahu® de cualquier responsabilidad u
                    obligación respecto del acceso indebido a Contenido “C” o
                    “D”.
                </p>

                <p>
                    El Usuario comprende y acepta que, al utilizar el Servicio,
                    puede encontrar material que puede considerar ofensivo,
                    indecente o cuestionable, y que dicho Contenido puede o no
                    estar identificado en el sentido de contener material
                    explícito. No obstante, el Usuario acepta utilizar el
                    Servicio a su exclusivo riesgo y Wahu® no tendrá
                    responsabilidad alguna frente al Usuario por el material de
                    clasificación “C” o “D”.
                </p>

                <p>
                    Es responsabilidad exclusiva de los padres o tutores,
                    imponer e incluir restricciones de acceso a sus cuentas, o a
                    las de sus hijos o tutorados, que consideren necesarias y
                    apropiadas para evitar el acceso al material de
                    clasificación “C” o “D”.
                </p>

                <p class="text-xl font-bold">11. Uso del Contenido</p>

                <p>
                    Usted acepta que el Servicio y determinados productos
                    incluyen tecnología de seguridad que limita el uso que usted
                    haga del Contenido y que, independientemente de que estos
                    productos se encuentren limitados por tecnología de
                    seguridad, usted utilizará los productos de acuerdo con las
                    reglas aquí establecidas por Wahu® y sus licenciantes
                    ("Reglas de Uso"), y que cualquier otro uso de los productos
                    puede constituir una violación de los derechos de autor, así
                    como de propiedad intelectual e industrial de los mismos.
                </p>

                <p>
                    Wahu® se reserva el derecho de modificar las Reglas de Uso
                    en cualquier momento. El Usuario se obliga expresa e
                    irrevocablemente a no violar, eludir, realizar ingeniería
                    inversa, decodificar, desmontar o de cualquier modo, alterar
                    con tecnología, la seguridad del Servicio, del sitio y/o del
                    Contenido.
                </p>

                <p>
                    Además de aquellas reglas y restricciones establecidas en
                    los presentes términos y condiciones, se establecen las
                    siguientes:
                </p>

                <p>
                    (i) Usted estará autorizado a utilizar el Contenido única y
                    exclusivamente para uso personal y queda expresamente
                    prohibida su utilización para fines comerciales, con fines
                    de lucro, directo o indirecto, o inclusive sin fines de
                    lucro, incluyendo sin limitación: grabarlo, reproducirlo,
                    filmarlo, videograbarlo, trasladarlo, sincronizarlo y/o
                    fijarlo.
                </p>

                <p>
                    (ii) El acceso o streaming del Contenido, se hará única,
                    exclusiva y personalmente, a través de la plataforma digital
                    proporcionada por Wahu® o terceros, por lo que usted no
                    tendrá derecho a copiar (incluyendo sin limitar: grabar,
                    reproducir, filmar, videograbar, trasladar, sincronizar y/o
                    fijar) el Contenido en cualquier otro medio, soporte o
                    tecnología distinta a la citada plataforma.
                </p>

                <p>
                    (iii) El uso del Contenido no le transfiere ningún derecho
                    de uso comercial o promocional sobre el mismo. Cualquier
                    capacidad de reproducción o exportación son solamente un
                    servicio para usted y no constituyen una cesión, renuncia u
                    otra limitación de cualquiera de los derechos de los
                    propietarios de los derechos de autor en ningún Contenido.
                </p>

                <p>
                    (iv) Las restricciones antes mencionadas también incluyen,
                    entre otros, textos, gráficos, configuraciones, interfaces,
                    logotipos, fotografías, materiales de audio, video y
                    fonogramas. También se prohíbe crear obras derivadas o
                    materiales que provengan o se basen en cualquier forma en el
                    Contenido incluyendo montajes, mezclas, videos similares y/o
                    cualquier material.
                </p>

                <p>
                    (v) Las autorizaciones de acceso y/o manejo de Cuenta, que
                    Usted brinde u otorgue a terceros (por ejemplo: hijos,
                    familiares, amigos), son y serán bajo su propia y exclusiva
                    responsabilidad, liberando expresamente a Wahu® de
                    cualquier obligación o responsabilidad al respecto, así como
                    de las consecuencias del uso que den dichos terceros. En
                    cualquier caso, los terceros estarán sujetos a lo
                    establecido en los presentes términos y condiciones.
                </p>

                <p class="text-xl font-bold">12. Conteo de Terceros</p>

                <p>
                    Determinados Contenidos, productos y servicios
                    proporcionados por Wahu®, pueden incluir materiales de
                    terceros, tales como, enunciativamente: enlaces a los sitios
                    web, promociones, datos, etc.
                </p>

                <p>
                    Usted acepta que Wahu® no es responsable de examinar o de
                    evaluar, el Contenido ni su exactitud, y que Wahu® no
                    garantiza y no tendrá ninguna responsabilidad por ningún
                    material o sitios web de terceros, o por cualquier otro
                    material, productos o servicios de terceros. Usted acepta
                    que usted no utilizará ningún material de terceros de manera
                    que infrinja o viole los derechos de cualquiera otra parte y
                    que Wahu® de ningún modo es responsable por tal uso de su
                    parte.
                </p>

                <p class="text-xl font-bold">
                    13. Cobertura de visualización del Contenido
                </p>

                <p>
                    El contenido adquirido por renta a través de este servicio,
                    solo estará disponible en los Territorios señalados en el
                    punto 2. En caso de que Wahu® detecte algún incumplimiento
                    sobre esta disposición, podrá bloquear el Contenido por lo
                    que Usted no tendrá derecho a realizar reclamación al
                    respecto.
                </p>

                <p class="text-xl font-bold">14. Propiedad Intelectual</p>

                <p>
                    Usted acepta que el Servicio, el Contenido, los productos,
                    gráficos, diseños, marcas, dibujos, interfaces, clips de
                    audio, clips de video, contenido editorial, guiones y
                    software utilizados en el Servicio, contienen información y
                    material confidencial que es propiedad exclusiva de Wahu®
                    y/ o sus licenciantes y que se encuentra protegido por las
                    leyes aplicables de propiedad intelectual e industrial.
                </p>

                <p>
                    El Usuario acepta que no utilizará esa información o
                    material confidencial de ninguna forma excepto para utilizar
                    el Servicio de acuerdo con los presentes términos y
                    condiciones.
                </p>

                <p>
                    Ninguna parte del Servicio y/o el Contenido pueden
                    reproducirse para fines comerciales o de lucro, de ningún
                    modo o por ningún medio. El Usuario acepta expresa e
                    irrevocablemente no modificar, rentar, arrendar, prestar,
                    vender, distribuir o crear trabajos derivados basados en el
                    Servicio y/o el Contenido, de ninguna manera, ni explotará
                    el Servicio de ninguna manera no autorizada, incluyendo de
                    manera enunciativa, más no limitativa, mediante la
                    trasgresión o la sobrecarga de la capacidad de la red.
                </p>

                <p>
                    Sin perjuicio de cualquier otra disposición establecida en
                    los presentes términos y condiciones, Wahu® y sus
                    licenciantes se reservan el derecho de modificar, suspender,
                    eliminar, o desactivar el acceso al Contenido y/o cualquier
                    producto, u otro material que incluya una parte del
                    Servicio, en cualquier momento y sin previo aviso. En ningún
                    caso Wahu® será responsable por hacer estos cambios.
                </p>

                <p>
                    Wahu® también puede imponer límites al uso de determinado
                    Contenido, aplicaciones o porciones del Servicio, en
                    cualquier caso y sin previo aviso, ni responsabilidad alguna
                    de su parte.
                </p>

                <p>
                    Todos los derechos de reproducción del Servicio y/o
                    Contenido (inclusive la compilación de contenido,
                    exposiciones, enlaces a otros recursos de Internet, y
                    descripciones de esos recursos) y software relacionado, son
                    propiedad de Wahu® y/o sus licenciantes, quienes se
                    reservan todos los derechos y acciones legales pertinentes.
                </p>

                <p>
                    Wahu®, el logotipo y otras marcas comerciales, avisos
                    comerciales, gráficos, dibujos y diseños utilizados en
                    relación con el Servicio, así como el diseño de la página
                    web y otros elementos de derecho de autor, son propiedad
                    exclusiva de su respectivo titular, licenciadas y/o
                    autorizadas a favor de la compañía que administra este
                    sitio.
                </p>

                <p>
                    Otras marcas comerciales, marcas de servicios, gráficos y
                    logos utilizados en relación con el Servicio y/o el
                    Contenido, pueden ser marcas comerciales de sus respectivos
                    dueños o titulares. El Servicio no implica en forma alguna,
                    cesión al Usuario de derecho o licencia con respecto a
                    cualquier marca.
                </p>

                <p>
                    El Usuario acepta que en caso de incurrir o que se presuma
                    incurrió en alguna conducta o hecho que vulnere algún
                    derecho de propiedad industrial o intelectual, Wahu® podrá
                    sin previo aviso proporcionar la información que acredite o
                    presuma su responsabilidad a las autoridades competentes, y
                    ejercer las acciones legales que se estimen pertinentes, a
                    fin de que se realicen las investigaciones respectivas y se
                    determinen responsabilidades, así también en caso de que
                    alguna autoridad requiera información a Wahu® sobre las
                    acciones o hechos efectuados por Usted, se proporcionarán
                    sin previo aviso o notificación.
                </p>

                <p class="text-xl font-bold">15. Facturación</p>

                <p>
                    Al hacer uso del Servicio y realizar el pago
                    correspondiente, Usted podrá requerir si lo desea, la
                    emisión de la factura correspondiente, para lo cual le
                    solicitamos comunicarse a la dirección de correo
                    electrónico: info@wahustreaming.com para solicitarla, cabe
                    mencionar que usted solo podrá solicitarla durante el mes en
                    curso.
                </p>

                <p>
                    La empresa que podrá emitir la factura sobre el servicio
                    solicitado será Media Streaming, S.A. de C.V. y/o alguna
                    empresa filial o subsidiaria.
                </p>

                <p class="text-xl font-bold">16. Reembolsos</p>
                <p>
                    Una vez que Usted realice el pago de la renta del contenido,
                    no se podrá cancelar, por lo que no se podrán realizar
                    reembolsos. Así también no se otorgarán reembolsos por
                    contenido no visto.
                </p>

                <p class="text-xl font-bold">17. Rescisión / Terminación</p>
                <p>
                    Si el Usuario incumple cualquiera de las disposiciones de
                    los términos y condiciones, Wahu®, a su sola discreción,
                    sin necesidad de darle previo aviso al respecto podrá: (i)
                    rescindir el Servicio y/o eliminar su Cuenta, y usted
                    seguirá siendo responsable por todos los montos debidos si
                    los hubiere, así como por los daños y/o perjuicios que en su
                    caso le pudiera, pueda o haya causado a Wahu® o a algún
                    tercero; y/o (ii) terminar la licencia del software para el
                    uso del Servicio; y/o (iii) impedir el acceso al Servicio (o
                    a cualquier de sus partes).
                </p>
                <p>
                    Será también causa de rescisión del Servicio sin
                    responsabilidad para Wahu®, si Usted realiza alguna
                    conducta, hecho mediante el cual utilice alguna obra o
                    derecho de propiedad industrial e intelectual protegido sin
                    que exista consentimiento manifestó por escrito del titular,
                    encuadrando dichas acciones en infracciones en materia de
                    comercio y/o de derechos de autor y/o de cualquier otra
                    índole, además de las sanciones judiciales que pudieran
                    acarrear y/o delitos establecidos en la legislación penal
                    aplicable.
                </p>
                <p>
                    Wahu® se reserva el derecho de modificar, suspender, o
                    interrumpir el Servicio (o cualquiera de sus partes) o el
                    Contenido, en cualquier momento con o sin previo aviso al
                    Usuario, y Wahu® no será responsable frente a usted o
                    cualquier tercero que ejerciera esos derechos.
                </p>

                <p class="text-xl font-bold">
                    18. Exclusión de Garantías / Limitación de Responsabilidad
                </p>
                <p>
                    Wahu® es únicamente proveedor del Contenido y su
                    responsabilidad con respecto a la prestación del Servicio se
                    limita a poner el Contenido a disposición del Usuario, en
                    los términos y condiciones establecidos en estos términos y
                    condiciones. Wahu® no es concesionaria de redes, fibras,
                    espectros o ningún otro elemento de telecomunicación, por
                    ende, no es responsable de fallas en los soportes físicos o
                    digitales en instalaciones, transferencias, interconexiones,
                    etc., que son provistas por concesionarios, prestadores de
                    servicios de telecomunicaciones (entre ellos internet) o por
                    terceros.
                </p>
                <p>
                    En virtud de lo anterior, Wahu® no garantiza ni declara que
                    el uso que usted haga del Servicio o el Contenido será
                    ininterrumpido o libre de error. Wahu® hará los mejores
                    esfuerzos para que en caso de falla, interrupciones o
                    cualquier imprevisto relacionado con el Servicio o Contenido
                    de eventos en vivo, sea solucionado de forma rápida y
                    satisfactoria para el Usuario, sin embargo, al tratarse de
                    eventos que no son operados, coordinados ni supervisados por
                    Wahu® desde la fuente de su transmisión, no se hace
                    responsable por cualquier falla, interrupción o imprevisto
                    que dicho evento sufra.
                </p>
                <p>
                    Cualquier cancelación o eliminación del Servicio o Contenido
                    por períodos de tiempo específico o indefinidos, será hecha
                    del conocimiento del Usuario, salvo que se trate de los
                    eventos en vivo, señalados en el párrafo anterior.
                </p>
                <p>
                    El Usuario acepta expresamente que el uso que usted haga del
                    Servicio, es bajo su propio y exclusivo riesgo. El Servicio,
                    el Contenido y todos los productos y servicios entregados al
                    Usuario a través del Servicio disponibles en el momento de
                    su uso, son sin garantías de ninguna clase.
                </p>
                <p>
                    Wahu® no garantiza que el Servicio estará libre de pérdida,
                    corrupción, ataque, virus, interferencia, intervención
                    (hacking), ingreso u otra alteración de seguridad, por lo
                    que renuncia a cualquier responsabilidad relacionada con los
                    mismos.
                </p>

                <p class="text-xl font-bold">19. Renuncia / Indemnización</p>
                <p>
                    Al utilizar el Servicio, el Usuario acepta, al grado
                    permitido por la ley, indemnizar y mantener en paz y a salvo
                    a Wahu®, sus socios, directores, ejecutivos, empleados,
                    afiliados, agentes, representantes legales, proveedores y
                    licenciatarios, con respecto a cualquier reclamo derivado
                    del incumplimiento de los términos y condiciones, el uso que
                    usted haga del Servicio y/o el Contenido, o cualquier medida
                    tomada por Wahu® como parte de su investigación respecto de
                    una posible violación de estas disposiciones o derivado de
                    la conclusión o decisión de Wahu® en el sentido de que hubo
                    una violación a las mismas.
                </p>

                <p class="text-xl font-bold">
                    20. Legislación aplicables / Jurisdicción
                </p>
                <p>
                    El Usuario acepta expresamente, sujetarse a lo dispuesto por
                    las leyes locales y federales aplicables en la Ciudad de
                    México, México. Usted expresamente acepta que la
                    jurisdicción exclusiva en el caso de cualquier reclamo o
                    controversia con Wahu® o relacionada de algún modo con el
                    uso que usted haga del Servicio se encuentra sujeta a los
                    tribunales federales en la Ciudad de México, en la República
                    Mexicana.
                </p>

                <p class="text-xl font-bold">
                    21. Notificaciones y Aclaraciones
                </p>
                <p>
                    Relacionado con el Servicio, Wahu® podrá enviarle avisos
                    y/o notificarle, indistintamente y a su elección, mediante:
                    (i) una publicación en la página de internet
                    <a
                        href="https://wahustreaming.com"
                        class="text-lime-400 underline"
                        >https://wahustreaming.com</a
                    >, (ii) el envío de un correo electrónico a la dirección de
                    correo electrónico de su cuenta, o (iii) una carta por
                    correo postal a la dirección postal de su cuenta. Las
                    notificaciones surtirán efectos de forma inmediata a partir
                    de su publicación o envío, según sea el caso.
                </p>
                
                <div class="text-center space-y-5 pt-10">
                    <p>
                        Cualquier cuestión no establecida en los presentes términos
                        de uso, favor de consultarlo al correo
                        <a
                            href="mailto:info@wahustreaming.com?subject=Consulta&body=Hola, tengo una pregunta."
                            class="text-lime-400 underline"
                        >
                            info@wahustreaming.com
                        </a>
                    </p>
                    <p>
                        Wahu® señala como domicilio para recibir notificaciones el
                        ubicado en Bajada de Chapultepec No. 8 Loc. 1, Col.
                        Chapultepec, C.P. 62450, Cuernavaca, Morelos, México y
                        correo electrónico <a
                            href="mailto:info@wahustreaming.com?subject=Consulta&body=Hola, tengo una pregunta."
                            class="text-lime-400 underline"
                        >
                            info@wahustreaming.com
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</Layout>

<style>
    .font-variant-caps {
        font-variant-caps: all-small-caps;
        font-family: "Montserrat", sans-serif;
    }
</style>
