---
import ernestoProduccion from "../assets/ernestoProduccion.png";
import antonioProduccion from "../assets/antonioProduccion.png";
import jocelynProduccion from "../assets/jocelynProduccion.png";
import lizProduccion from "../assets/lizProduccion.png";
import esparzaProduccion from "../assets/esparzaProduccion.png";

const images = [
    { src: ernestoProduccion.src, alt: "Ernesto Produccion" },
    { src: antonioProduccion.src, alt: "Antonio Produccion" },
    { src: jocelynProduccion.src, alt: "Jocelyn Produccion" },
    { src: lizProduccion.src, alt: "Liz Produccion" },
    { src: esparzaProduccion.src, alt: "Esparza Produccion" },
];
---

<div class="relative mt-6">
    <!-- Botón Izquierdo -->
    <button
        onclick="document.getElementById('carousel2').scrollBy({ left: -300, behavior: 'smooth' })"
        class="absolute left-2 top-1/2 transform -translate-y-1/2 bg-black bg-opacity-50 text-white p-2 rounded-full z-10"
        aria-label="Scroll Left"
    >
        &#8592;
    </button>

    <!-- Contenedor del carrusel -->
    <div
        id="carousel2"
        class="flex overflow-x-auto flex-nowrap gap-4 w-full scrollbar-hide scroll-smooth"
    >
        {
            images.map((image, index) => (
            <div class="flex flex-col items-center">
                <img
                    src={image.src}
                    alt={image.alt}
                    class="w-auto max-h-48 object-cover rounded-md hover-effect cursor-pointer"
                    data-src={image.src}
                    data-alt={image.alt}
                />
                <p class="mt-2 font-bold text-white">Jocelyn Flores</p>
                <p class="text-sm text-lime-500">Project Manager</p>
              </div>
            ))
        }
    </div>

    <!-- Botón Derecho -->
    <button
        onclick="document.getElementById('carousel2').scrollBy({ left: 300, behavior: 'smooth' })"
        class="absolute right-2 top-1/2 transform -translate-y-1/2 bg-black bg-opacity-50 text-white p-2 rounded-full z-10"
        aria-label="Scroll Right"
    >
        &#8594;
    </button>

    <!-- Modal de imagen expandida -->
    <div
        id="imageModal2"
        class="fixed inset-0 hidden items-center justify-center bg-black bg-opacity-75 z-20"
    >
        <div class="relative">
            <img
                id="modalImage2"
                src=""
                alt=""
                class="max-w-full max-h-[90vh] object-contain rounded-md"
            />
        </div>
    </div>
</div>