---
import AlanCreador from "../assets/AlanCastañeda-CREADORES.png";
---

<div class="bg-slate-800 h-screen pl-10">
    <div class="text-2xl pt-36">
        <h1 class="text-lime-400 font-tittle text-5xl">Conoce</h1>
        <h1
            class="text-slate-400 uppercase font-extrabold ml-16 -mt-3 text-4xl"
        >
            A los creadores
        </h1>
    </div>
    <div class="flex mt-10">
        <img
            src={AlanCreador.src}
            alt="Alan Castaneda CREADORES"
            class="w-auto h-auto object-cover rounded-md hover-effect"
        />
        <div class="flex flex-col ml-7">
            <p class="text-lime-400 uppercase text-2xl">Alan Castañeda</p>
            <div class="mt-8">
                <p class="text-slate-400 text-xs">País de origen: México</p>
                <p class="text-slate-400 text-xs">País de residencia: México</p>
                <p class="text-slate-400 text-xs">
                    Fecha de nacimiento: 15/noviembre/2000
                </p>
                <p class="text-slate-400 text-xs">Nacionalidad: mexicano</p>
                <p class="text-slate-400 text-xs">
                    Correo electrónico: alancastaneda151515@gmail.com
                </p>
                <p class="text-slate-400 text-xs">
                    Facebook: <a
                        href="https://www.facebook.com/AlanMCastaneda"
                        target="_blank"
                        class="text-slate-400 text-xs"
                        >https://www.facebook.com/AlanMCastaneda</a>
                </p>
                <p class="text-slate-400 text-xs">
                    Instagram: <a
                        href="https://www.instagram.com/alancastaneda15/"
                        target="_blank"
                        class="text-slate-400 text-xs"
                        >https://www.instagram.com/alancastaneda15/</a>
                </p>
                <p class="text-slate-400 text-xs">
                    TikTok: <a
                        href="https://www.tiktok.com/@alancastaneda15"
                        target="_blank"
                        class="text-slate-400 text-xs"
                        >https://www.tiktok.com/@alancastaneda15</a>
                </p>
                <p class="text-slate-400 text-xs">Twitter: ---</p>
                <p class="text-slate-400 text-xs">
                    LinkedIn: <a
                        href="https://www.linkedin.com/in/alancastaneda/"
                        target="_blank"
                        class="text-slate-400 text-xs"
                        >https://www.linkedin.com/in/alancastaneda/</a>
                </p>
            </div>
        </div>
    </div>
</div>
