<div class="bg-secundario h-screen" slot="detailScreen">
    <div class="relative h-2/3 lg:h-4/6 min-w-screen bg-[url('../src/assets/bg-ARIADNE.jpg')] bg-cover bg-top opacity-95 shadow-inner shadow-slate-600">
        <div class="text-white bottom-10 absolute ml-10 lg:ml-28">
            <h3 class="text-lime-400 uppercase text-2xl lg:text-4xl">ariadne</h3>
            <div class="my-2 lg:my-5 text-sm lg:text-xl">
                <p>Ariadne</p>
                <p>Dirigida por: Adrian Rodriguez</p>
                <p>Genero(s): Drama, Romance</p>
                <p>Año: 2017 | Pais: Estados Unidos</p>
            </div>
            <button
                class="flex items-center justify-center gap-2 px-4 py-2 bg-lime-400 text-black font-bold rounded-lg shadow-black shadow-inner hover:bg-lime-600 hover:text-white transition"
            >
                <span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        width="14"
                        height="14"
                    >
                        <path
                            d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z"
                        ></path>
                    </svg>
                </span>
                <p class="uppercase">Ver ahora</p>
            </button>
        </div>
    </div>
    <div class="text-white h-1/3 lg:h-2/6 py-8 px-10 lg:px-28 overflow-y-auto max-h-full text-justify">
        La Larga Espera es una conmovedora historia sobre el poder de la
        esperanza y la resiliencia humana, ambientada en un pequeño pueblo
        costero. La película sigue a Isabel, una joven madre que, tras la
        desaparición de su esposo, Javier, en un accidente marítimo, se enfrenta
        a la difícil tarea de criar a su hija Valentina en un entorno lleno de
        incertidumbre. Javier era un pescador experimentado que, en su último
        viaje, nunca regresó a casa, dejando a su familia destrozada. A lo largo
        de los años, Isabel mantiene la esperanza de que su esposo aún esté
        vivo, a pesar de las pruebas y la falta de evidencia que lo sugiera. La
        trama gira en torno a su lucha interna entre la necesidad de seguir
        adelante por el bien de su hija y su firme creencia de que algún día
        Javier regresará. Con el apoyo de su madre, Doña Clara, y la comunidad
        del pueblo, Isabel intenta llevar una vida normal, aunque la sombra de
        su esposo desaparecido siempre está presente. La película no solo
        explora la lucha emocional de Isabel, sino también cómo las pequeñas
        acciones cotidianas pueden tener un gran impacto en las personas que
        amamos. Valentina, ahora adolescente, empieza a preguntarse si la vida
        de su madre ha estado marcada por una espera interminable que ha
        condicionado su propia vida. Con una fotografía que captura la belleza
        del paisaje costero y una banda sonora melancólica, La Larga Espera es
        una reflexión sobre el amor, la pérdida y el paso del tiempo, mientras
        se muestra cómo, a veces, el simple acto de esperar puede ser una forma
        de vivir. La película invita a los espectadores a cuestionar qué
        significa realmente “esperar” y cómo la esperanza puede ser, a veces, el
        motor que impulsa a las personas a seguir adelante, incluso cuando todo
        parece perdido.
    </div>
</div>
