---
import TermsAndConditions from "../pages/TermsAndConditions.astro"
---

<footer class="bg-gray-800 text-gray-300 py-4 fixed bottom-0 w-full">
    <div class="mx-auto flex">
        <div>
            <p>&copy; 2024 Wahu ® - Algunos derechos están reservados.</p>
        </div>
        <div class="ml-3">
            <p> <a href="/terms-and-conditions">| Términos y condiciones |</a> </p>
        </div>
        <div class="ml-1 mr-1">
            <p> <a href="/terms-and-conditions">Aviso de Privacidad |</a> </p>
        </div>
        <div class="ml-1 mr-1">
            <p> <a href="/terms-and-conditions"></a>Contáctanos |</p>
        </div>
    </div>
</footer>
