---
import detalleAriadne from "../assets/detalleAriadne.jpeg";
import detalle2Ariadne from "../assets/detalle2Ariadne.jpeg";
import detalle3Ariadne from "../assets/detalle3Ariadne.jpg";
import detalle4Ariadne from "../assets/detalle4Ariadne.jpeg";
import detalle5Ariadne from "../assets/detalle5Ariadne.jpg";

const images = [
    { src: detalleAriadne, alt: "Detalle Ariadne 1" },
    { src: detalle2Ariadne, alt: "Detalle Ariadne 2" },
    { src: detalle3Ariadne, alt: "Detalle Ariadne 3" },
    { src: detalle4Ariadne, alt: "Detalle Ariadne 4" },
    { src: detalle5Ariadne, alt: "Detalle Ariadne 5" },
];
---

<div class="h-screen bg-principal relative">
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-principal z-10 h-3/4"></div>
    <div class="flex overflow-hidden w-full h-full relative z-0">
        <div class="flex transition-transform duration-500 ease-in-out h-3/4" id="carouselTrack">
            {
                images.map((image) => (
                    <div class="min-w-full h-full">
                        <img src={image.src.src} alt={image.alt} class="w-full h-full object-cover" />
                    </div>
                ))
            }
        </div>
    </div>
</div>

<script>
    let currentIndex = 0;
    const track = document.getElementById("carouselTrack");
    const slides = track ? track.children : [];
    const totalSlides = slides.length;

    function moveToNextSlide() {
        currentIndex = (currentIndex + 1) % totalSlides;
        const newTransform = `translateX(-${currentIndex * 100}%)`;
        if (track) {
            track.style.transform = newTransform;
        }
    }

    setInterval(moveToNextSlide, 5000);
</script>
