---
import { onMount } from "solid-js";
import { Image } from "astro:assets";
import WahuDark2020 from "../assets/WahuDark2020.svg";

onMount(() => {
  const menuButton = document.querySelector("#mobile-menu-button");
  const menu = document.querySelector("#mobile-menu");
  const nav = document.querySelector("nav");

  console.log("onMount executed");

  if (menuButton) {
    console.log("Menu button found");
  } else {
    console.error("Menu button not found");
  }

  if (menu) {
    console.log("Menu found");
  } else {
    console.error("Menu not found");
  }

  menuButton?.addEventListener("click", () => {
    console.log("Menu button clicked");
    menu?.classList.toggle("hidden");
    menuButton.classList.toggle("open");
    console.log("Menu visibility toggled");
  });

  window.addEventListener("scroll", () => {
    if (window.scrollY > 0) {
      nav?.classList.add("bg-secundario");
      nav?.classList.remove("bg-gradient-to-b", "from-secundario");
    } else {
      nav?.classList.remove("bg-secundario");
      nav?.classList.add("bg-gradient-to-b", "from-secundario");
    }
  });
});
---

<nav class="bg-secundario text-white py-4 z-40 fixed top-0 w-full">
  <div class="mx-auto flex justify-between items-center px-4 md:px-8">
    <!-- Logo -->
    <div class="flex items-center">
      <a href="/">
        <Image src={WahuDark2020} alt="Wahu Logo" class="h-16 w-auto" />
      </a>
    </div>

    <!-- Mobile Menu Button -->
    <button
      id="mobile-menu-button"
      class="md:hidden flex flex-col justify-center items-center w-8 h-8 text-gray-400 hover:text-white focus:outline-none"
    >
      <span
        class="block w-6 h-0.5 bg-current transition-transform duration-300 origin-center"
      ></span>
      <span
        class="block w-6 h-0.5 bg-current my-1 transition-opacity duration-300"
      ></span>
      <span
        class="block w-6 h-0.5 bg-current transition-transform duration-300 origin-center"
      ></span>
    </button>

    <!-- Desktop Menu -->
    <div class="hidden md:flex space-x-4 ml-20">
      <!-- <a href="/details" class="nav-link hover:text-white text-gray-400 relative"
      >ARIADNE<span class="nav-underline"></span></a
      >
      <a href="/creators" class="nav-link hover:text-white text-gray-400 relative"
      >CREADORES<span class="nav-underline"></span></a
      > -->
      <a href="/" class="nav-link hover:text-white text-gray-400 relative"
        >Cinema<span class="nav-underline"></span></a
      >
      <a
        href="/festivals"
        class="nav-link hover:text-white text-gray-400 relative"
        >Festivales<span class="nav-underline"></span></a
      >
      <a
        href="/academy"
        class="nav-link hover:text-white text-gray-400 relative"
        >Academia<span class="nav-underline"></span></a
      >
      <a href="/tv" class="nav-link hover:text-white text-gray-400 relative"
        >TV<span class="nav-underline"></span></a
      >
      <!-- Seccion Premiere -->
      <a href="/premiere" class="nav-link premiere-link text-gray-400 relative">
        <span class="premiere-badge">¡Nuevo!</span>
        Premiere
        <span class="nav-underline"></span>
      </a>
    </div>

    <style>
      .nav-link {
        position: relative;
        display: inline-block;
      }
      .nav-underline {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: white;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
      }

      .nav-link:hover .nav-underline {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      /* Específico para Premiere */
      .premiere-link:hover {
        color: rgb(132, 204, 22);
      }

      .premiere-link:hover .nav-underline {
        background-color: rgb(132, 204, 22);
      }
    </style>

    <!-- Contact and Login -->
    <div class="hidden md:flex space-x-4">
      <button
        class="bg-transparent text-gray-400 font-semibold py-2 px-4 hover:text-white hover:border-white border border-transparent rounded duration-300"
        onclick="window.location.href='mailto:info@wahustreaming.com?subject=Consulta&body=Hola, tengo una pregunta.'"
      >
        CONTÁCTANOS
      </button>

      <button
        class="bg-transparent text-white font-semibold hover:text-lime-400 py-2 px-4 border border-gray-500 hover:border-transparent hover:bg-gray-500 duration-300 rounded-md"
      >
        INGRESAR
      </button>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div
    id="mobile-menu"
    class="hidden fixed top-16 left-0 w-full bg-secundario md:hidden z-40 transition-transform transform duration-300"
  >
    <div class="flex flex-col space-y-2 py-4 px-4 justify-center items-center">
      <!-- <a href="/details" class="nav-link hover:text-gray-300 text-gray-400"
        >ARIADNE</a
      >
      <a href="/creators" class="nav-link hover:text-gray-300 text-gray-400"
        >CREADORES</a
      > -->
      <a href="/" class="nav-link hover:text-gray-300 text-gray-400">Cinema</a>
      <a href="/festivals" class="nav-link hover:text-gray-300 text-gray-400"
        >Festivales</a
      >
      <a href="/academy" class="nav-link hover:text-gray-300 text-gray-400"
        >Academia</a
      >
      <a href="/tv" class="nav-link hover:text-gray-300 text-gray-400">TV</a>
      <a href="/premiere" class="nav-link hover:text-gray-300 text-gray-400"
        >Premiere</a
      >
      <hr class="border-gray-600 w-full my-2" />
      <button
        class="bg-transparent text-gray-400 font-semibold py-2 hover:border-transparent rounded"
        onclick="window.location.href='mailto:info@wahustreaming.com?subject=Consulta&body=Hola, tengo una pregunta.'"
      >
        CONTÁCTANOS
      </button>

      <button
        class="bg-transparent text-white font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent hover:bg-gray-500 transition duration-400 rounded-md"
      >
        INGRESAR
      </button>
    </div>
  </div>

  <style>
    #mobile-menu-button.open + #mobile-menu {
      transform: translateY(0);
    }
  </style>
</nav>

<style>
  #mobile-menu-button.open span:nth-child(1) {
    transform: translateY(0.4rem) rotate(45deg);
    background-color: white;
  }
  #mobile-menu-button.open span:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu-button.open span:nth-child(3) {
    transform: translateY(-0.4rem) rotate(-45deg);
    background-color: white;
  }

  #mobile-menu-button span {
    transition: all 0.3s ease;
  }

  .premiere-link {
    position: relative;
  }

  .premiere-badge {
    position: absolute;
    top: -10px;
    right: -20px;
    background-color: #f39c12;
    color: white;
    font-size: 0.6rem;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 8px;
    text-transform: uppercase;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    animation: pulse 2s infinite;
  }

  /* Efecto de animación */
  @keyframes pulse {
    0%,
    100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.8;
    }
  }

  /* Hover para la sección Premiere */
  .premiere-link:hover .premiere-badge {
    background-color: #e74c3c;
  }
</style>

<script>
  const button = document.querySelector("#mobile-menu-button") as Element;
  const menu = document.querySelector("#mobile-menu") as Element;

  button.addEventListener("click", () => {
    menu.classList.toggle("hidden");
    button.classList.toggle("open");
  });
</script>
