---
import Carrousel2 from "./Carrousel2.astro"
---

<div class="bg-slate-800 px-10 py-6">
    <div class="text-2xl">
      <h1 class="text-lime-400 font-tittle text-5xl">Conoce</h1>
      <h1 class="text-slate-400 uppercase font-extrabold ml-16 -mt-3 text-4xl">a la producción</h1>
    </div>

    <Carrousel2 />

</div>
    